*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    background-color:blue;
    float: right;
}
li{
    display: inline;
}

li a{
    text-decoration: none;
    padding: 15px;
    color: black;
}